@page "/attendances/delete"
@using Microsoft.EntityFrameworkCore
@using CR_GR__Helper.Models
@inject IDbContextFactory<CR_GR__Helper.Data.CR_GR__HelperContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Attendance</h2>
    <hr />
    @if (attendance is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@attendance.Date</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StudentId</dt>
            <dd class="col-sm-10">@attendance.StudentId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">SubjectId</dt>
            <dd class="col-sm-10">@attendance.SubjectId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@attendance.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Remarks</dt>
            <dd class="col-sm-10">@attendance.Remarks</dd>
        </dl>
        <EditForm method="post" Model="attendance" OnValidSubmit="DeleteAttendance" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(attendance is null)">Delete</button> |
            <a href="/attendances">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Attendance? attendance;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        attendance = await context.Attendance.FirstOrDefaultAsync(m => m.Id == Id);

        if (attendance is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteAttendance()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attendance.Remove(attendance!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/attendances");
    }
}
